config.env
__pycache__/*
.DS_Store/*
brains.check
learning-data-root.check
blacklist.check
sedenbot.db
sedenbot.session*
sedenbot/__pycache__/*
sedenbot/.DS_Store/*
sedenbot/modules/.DS_Store/*
sedenbot/modules/__pycache__/*
sedenecem/core/__pycache__/*
sedenecem/core/.DS_Store/*
sedenecem/sql/.DS_Store/*
sedenecem/sql/__pycache__/*
sedenecem/.DS_Store/*
sedenecem/__pycache__/*
sedenecem/translator/__pycache__/*
*.check
*.session
*.session-journal
.progress
.vscode/*
.idea/*
*secret*
*.log
bin/*
dump.rdb
