config.env
__pycache__/*
.DS_Store/*
brains.check
learning-data-root.check
blacklist.check
sedenbot.db
sedenbot.session*
sedenbot/__pycache__/*
sedenbot/.DS_Store/*
sedenbot/moduller/.DS_Store/*
sedenbot/moduller/__pycache__/*
sedenecem/sql/.DS_Store/*
sedenecem/sql/__pycache__/*
sedenecem/.DS_Store/*
sedenecem/__pycache__/*
*.check
*.session
*.session-journal
.progress
.vscode/*
.idea/*
*secret*
*.ttf
*.otf
hata.log
bin/*
dump.rdb
