bs4
coffeehouse
cowpy
deethon
emoji
gitpython
googletrans==3.1.0a0
gtts
heroku3
humanize
lyricsgenius
pillow
psycopg2-binary
pybase64
pylast
pyrogram==1.1.13
python-barcode
python-dotenv
qrcode
removebg
requests
selenium
speedtest-cli
sqlalchemy
tgcrypto
urbandict
wikipedia
youtube-dl
