
bs4
cowpy
emoji
exifread
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==3.1.0a0
gtts
heroku3
humanize
image_to_ascii
lyricsgenius
pillow
psycopg2
pybase64
pydrive
pylast
pyrogram==1.4.8
python-barcode
python-dotenv
qrcode
removebg
requests
selenium
spamwatch
speedtest-cli
spotipy
sqlalchemy==1.3.23
tgcrypto
urbandict
wikipedia
yt-dlp
