Pillow
bs4
coffeehouse
cowpy
emoji
git+https://github.com/NaytSeyd/pyrogram
gitpython
googletrans
gtts
heroku3
humanize
lyricsgenius
psycopg2-binary
pybase64
pylast
python-barcode
python-dotenv
qrcode
removebg
requests
selenium
speedtest-cli
sqlalchemy
tgcrypto
urbandict
wikipedia 
